<form id="createProductForm">
  <h3>Crear Producto</h3>
  <label for="title">Título:</label>
  <input type="text" id="title" name="title" required>
  <label for="description">Descripción:</label>
  <input type="text" id="description" name="description" required>
  <label for="code">Código:</label>
  <input type="text" id="code" name="code" required>
  <label for="price">Precio:</label>
  <input type="number" id="price" name="price" step="0.01" required>
  <label for="stock">Cantidad:</label>
  <input type="number" id="stock" name="stock" required>
  <label for="category">Categoría:</label>
  <input type="text" id="category" name="category" required>
  <label for="thumbnails">Thumbnails:</label>
  <input type="text" id="thumbnails" name="thumbnails">
  <button type="submit">Crear</button>
</form>

<form id="deleteProductForm">
  <h3>Eliminar Producto</h3>
  <label for="productId">ID del Producto:</label>
  <input type="number" id="productId" name="productId" required>
  <button type="submit">Eliminar</button>
</form>

<div class="cont-prod">
  {{#each products}}
  <div class="product">
    <img src="{{thumbnails}}" alt="{{title}}">
    <h2>{{title}}</h2>
    <p>{{description}}</p>
    <p>${{price}}</p>
    <p>Cantidad: {{stock}}</p>
  </div>
{{/each}}
</div>

<script src="/js/index.js"></script>
